<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hally.sunshine"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/art_clear"
		android:logo="@mipmap/ic_logo"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity
			android:name=".view.MainForecastActivity"
			android:theme="@style/Theme.AppCompat.Light">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<data android:scheme="geo"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<!-- Without @style/Theme.AppCompat.Light you will not see Share menuItem!-->
		<activity
			android:name=".view.DetailActivity"
			android:label="@string/title_activity_detail"
			android:parentActivityName=".view.MainForecastActivity"
			android:theme="@style/Theme.AppCompat.Light">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".view.MainForecastActivity"/>
		</activity>
		<activity
			android:name=".view.SettingsDetailActivity"
			android:label="@string/title_activity_settings_detail"
			android:parentActivityName=".view.MainForecastActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".view.MainForecastActivity"/>
		</activity>

		<provider android:name=".data.WeatherProvider" android:authorities="com.hally.sunshine"/>

	</application>

</manifest>
